@import "tailwindcss";

@theme {
    --font-display : "Vazir" , "sans-serif"
}

@font-face {
  font-family: Vazir;
  src: url('./../font-vazir/vazir-font-v16.1.0/Vazir.eot');
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir.eot?#jefix') format('embedded-opentype'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir.woff') format('woff'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir.woff2') format('woff2'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Vazir;
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Bold.eot');
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Bold.eot?#jefix') format('embedded-opentype'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Bold.woff') format('woff'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Bold.woff2') format('woff2'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Thin.eot');
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Thin.eot?#jefix') format('embedded-opentype'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Thin.woff') format('woff'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Thin.woff2') format('woff2'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Light.eot');
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Light.eot?#jefix') format('embedded-opentype'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Light.woff') format('woff'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Light.woff2') format('woff2'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Medium.eot');
  src: url('./font-vazir/vazir-font-v16.1.0/Vazir-Medium.eot?#jefix') format('embedded-opentype'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Medium.woff') format('woff'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Medium.woff2') format('woff2'),
       url('./font-vazir/vazir-font-v16.1.0/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}
