@media (max-width:768px) {
    #nav-content {
        position: relative;
        animation: moveLeft 550ms forwards;
    }
}

@media (min-width:768px) , (max-width:1000px) {
  section {
    padding-bottom : 7rem !important ;
  }
}

@keyframes moveLeft {
  from {
    left: 4rem;
  }
  to {
    left: 1rem;
  }
    }

.ulp li {
  padding: .75rem;
  color: #333;
}
.ult li {
  color: rgb(101, 101, 101) !important;
}

@media (max-width:1024px) {
  .ult li {
    color: #333 !important;
  }
}