* {
    font-family: 'Vazir' , sans-serif;
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-box {
    margin-top: 1.25rem;
}

#input-counter {
    padding: .5rem;
    outline: black;
    width: 15rem;
    border: 1px solid gray;
}

#start-counter {
    color: white;
    background: orangered;
    padding: .45rem;
    border: none;
    border-radius: .2rem;
    font-weight: 600;
}

#error-input {
    color: red;
    font-size: .8rem;
    display: none;
}

#error-input.activ {
    display: block;
}

.c100 {
    margin: 1.25rem 0;
    display: none;
}

.message {
    margin-bottom: 1.25rem;
}

.loading {
    color: orange;
    font-size: .85rem;
    font-weight: 600;
    display: none;
}

.seccess {
    color: rgb(0, 186, 0);
    font-size: .85rem;
    font-weight: 600;
    display: none;
    margin-top: 1.25rem;
}