.container {
    display: flex;
    justify-content: center;
}

#Dark_Mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Dark_Mode h2 {
    border: 1px solid black;
    padding: 1.5rem;
    margin: 2rem;
    background: linear-gradient(90deg, white, rgb(202, 202, 202));
    border-radius: .3rem;
}

#Sun {
    background: none;
    border: 2px solid #424141;
    border-radius: 50%;
    width: 7rem;
    margin-top: 5rem;
}

#Moon {
    display: none;
    background: rgb(21, 21, 21);
    color: white;
    border: 2px solid #424141;
    border-radius: 50%;
    width: 7rem;
    margin-top: 5rem;
}